<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for submitting, <%= @client.first_name %>!</h1>
    <p>Thank you for submitting your information. We have recieved your submission!</p>
  </body>
</html>
