/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-table
 */
 @import "bootstrap";
 @import 'ionicons';

/* MISC STYLING */

html, body {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 400;
  color: black;
  font-size: 13px;
  height: 100vh;
  margin: 0;
}

.button {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: white !important;
  border: none !important;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  font-size: 12px;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: "alternate-gothic-no-3-d",sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

p, a {
  margin: 0;
}

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 11px;
}

/* NAVBAR */
.navbar {
  padding: 0.5rem 0;
  margin-bottom: 0;
  position: relative;
}

.navbar-brand {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white !important;

  img {
    width: 100px;
  }
}

.navbar-text {
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;
}

.logout, .edit-account, .admin-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: black !important;
  font-size: 12px;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: black !important;
  }
}

.navbar-light .navbar-toggler {
  color: black !important;
  border: none !important;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  padding: 0 !important;
}

.desktop-nav {
  #navbarDropdown {
    padding-right: 0;
  }
}

.white-background {
  background-color: white !important;
}

/* NAV OVERLAY */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-open{
  height: 100%;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;

  ul {
    padding: 0;
  }
}

.overlay a, .overlay li {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  font-family: "alternate-gothic-no-3-d",sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ccc;
}

.open-close-btn {
  position: absolute;
  top: 21px;
  right: 0;
  text-decoration: none;
  z-index:10;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
}

/* Hamburger Icon */
#hamburger-icon {
  display: block;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: black;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
}

/* Hamburger Lines  */
#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2), #hamburger-icon span:nth-child(3) {
  top: 8px;
}

#hamburger-icon span:nth-child(4) {
  top: 16px;
}

#hamburger-icon.hamburger-open span{
  background:white
}

#hamburger-icon.hamburger-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.hamburger-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.hamburger-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.hamburger-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

/*--------------------------- HOMEPAGE STYLING ---------------------------*/

/* BACKGROUND LAYOUT */
.image {
  background: image-url("tree.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.column-left {
  float: left;
  height: 100vh;
  position: fixed;
  width: 0%;
}

.column-right {
  float: right;
  height: 100%;
  position: relative;
  width: 100%;
}

.header {
  padding: 0 60px;
}

.content {
  line-height: 2;
  padding: 0 60px;

  p {
    margin-bottom: 15px;
  }
}

/* FORM */
form label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 11px;
}

form input, form textarea {
  font-size: 13px !important;
  color: black !important;
}

.homepage-form-btn {
  margin-top: 10px;
  margin-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: white !important;
  background-color: #F95456;
  border: none !important;
  outline: none;
  cursor: pointer;
  padding: 10px 0;
  font-size: 12px;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;

  i {
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    font-size: 15px;
  }

  &:hover {
    background-color: #F95456;
    opacity: 0.8;
    border: none !important;
  }
}

.form-control {
  border-radius: 2px !important;
}

select.form-control {
  font-size: 12px !important;
  border-radius: 2px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-position: right 50%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%20%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%20%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2214px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2014%2012%22%20enable-background%3D%22new%200%200%2014%2012%22%20xml%3Aspace%3D%22preserve%22%3E%20%3Cpolygon%20points%3D%223.862%2C7.931%200%2C4.069%207.725%2C4.069%20%22/%3E%3C/svg%3E") !important;
  padding: .5em;
  padding-right: 1.5em;
}

.asterisk {
  color: #F95456;
  font-weight: 500;
}

.success {
  color: #5CB85C;
  text-align: center;
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  line-height: 1.5;
}

.error {
  color: #F95456;
  text-align: center;
  width: 100%;
  border-radius: 2px;
  padding: 10px;
  line-height: 1.5;
}

/* --------------------------- ADMIN STYLING ---------------------------*/

/* ADMIN TABLE SEARCH */
.search-form {
  margin-bottom: 15px;
  float: right;

  .search-btn {
    margin-left: 5px;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    color: white !important;
    border: none !important;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    border-radius: 2px;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
  }

  input {
    border: 1px solid #E2E3E5;
  }
}

/* ADMIN TABLE */
.archived {
  background: #eaeaea;
  color: #ccc;

  a {
    color: #ccc;
  }
}

.table-hover tbody tr.archived:hover {
  background: #eaeaea !important;
}

.table-hover tbody tr:hover {
  background: transparent !important;
}

td {
  font-size: 12px;
}

.fixed-table-container thead th .th-inner {
  font-size: 10px !important;
}

.fixed-table-container {
  background: white;
  border: 1px solid #E2E3E5;

  tbody td {
    padding: 5px !important;
  }
}

.fixed-table-toolbar {
  display: none;
}

.bootstrap-table .table {
  border: none !important;
}

.table th, .table td {
  border-top: none !important;
}

.table-options {
  text-align: center;

  a:nth-child(2) {
    margin: 0 10px;
  }

  a {
    color: #007bff !important;

    &:hover {
      text-decoration: underline;
    }
  }
}

.th-inner {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

/* ADMIN EDIT */
.edit-admin {
  background: white;
  border-radius: 5px;
  padding: 30px;
}

/* --------------------------- RESPONSIVE STYLING ---------------------------*/

@media only screen and (min-width: 600px) {
  .column-left {
    width: 25%;
  }
  .column-right {
    width: 75%;
  }
}

@media only screen and (max-height: 749px) and (min-width: 600px) {
  margin: 100px 0;
  padding: 0 13%;
}

@media only screen and (min-width: 1200px) {
  .column-left {
    width: 50%;
  }
  .column-right {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .form-group {
    margin-bottom: 0;
  }

  .col-xs-12, #client_instructions {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 425px) {
  .content, .header {
    padding: 0 20px;
  }

  .overlay li, .overlay a {
    font-size: 26px;
  }
}
