/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-table
 */
 @import "bootstrap";
 @import 'ionicons';

/* MISC STYLING */
html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #08AEEA;
  background-image: -webkit-linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
  background-image: -moz-linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
  background-image: -o-linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
  background-image: linear-gradient(270deg, #08AEEA 0%, #2AF598 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-family: "Museo Sans Rounded";
  font-weight: 500;
  color: #222;
  font-size: 15px;
}

.btn {
  cursor: pointer;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

p {
  margin: 0;
}

/* NAVBAR */

.navbar {
  padding: 0.5rem 0;
  margin-bottom: 3rem;
}

.navbar-brand {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff !important;

  img {
    width: 100px;
  }
}

.navbar-text {
  padding-top: 0.3rem;

  span {
    padding: 0 15px 0 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 700;
  }
}

.logout {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 5px 15px !important;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff !important;
  font-size: 12px;
  margin-top: 0.1rem;

  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;

  &:hover {
    background: #fff;
    color: #222 !important;
  }
}

.navbar-light .navbar-toggler {
  color: #fff !important;
  border: none !important;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  padding: 0 !important;
}

.hamburger .line{
  width: 20px;
  height: 3px;
  border-radius: 15px;
  background-color: #ecf0f1;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/*--------------------------- HOMEPAGE STYLING ---------------------------*/

/* FORM */
.client-form , .homepage-content {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  -webkit-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -moz-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -ms-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -o-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  margin-bottom: 30px;
}

form label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 11px;
}

form input {
  font-size: 13px !important;
  color: #222 !important;
}

.homepage-form-btn {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff !important;
  background-color: #2AF598;
  border: 1px solid #2AF598 !important;

  &:hover {
    background-color: #08AEEA;
    border: 1px solid #08AEEA !important;
  }
}

.asterisk {
  color: red;
  font-weight: 500;
}

/* --------------------------- ADMIN STYLING ---------------------------*/

/* ADMIN TABLE SEARCH */
.search-form {
  margin-bottom: 15px;
  float: right;

  .search-btn {
    margin-left: 5px;
  }
}

/* ADMIN TABLE */
.table-options {
  text-align: center;

  a:first-child {
    margin-right: 10px;
  }

  a {

    &:hover {
      text-decoration: none;
    }
  }
}

/* --------------------------- RESPONSIVE STYLING ---------------------------*/

@media only screen and (max-width: 768px) {
  html {
    height: auto;
  }
}
