/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-table
 */
 @import "bootstrap";
 @import 'ionicons';

/* MISC STYLING */

html, body {
  font-family: "aktiv-grotesk", sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 15px;
  height: 100vh;
  margin: 0;
}

.image {
  background-image: url("tree.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.column-left {
  float: left;
  height: 100vh;
  position: fixed;
  width: 0%;
}

.column-right {
  float: right;
  height: 100%;
  position: relative;
  width: 100%;
}

.header {
  padding: 0 60px;
}

.content {
  line-height: 2;
  padding: 0 60px;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6 {
  font-family: "alternate-gothic-no-3-d",sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 0.75rem;
}

p, a {
  margin: 0;
}

/* NAVBAR */
.navbar {
  padding: 0.5rem 0;
  margin-bottom: 3rem;
  z-index: 9999;
}

.navbar-brand {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff !important;

  img {
    width: 100px;
  }
}

.navbar-text {
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  font-weight: 700;

  #navbarDropdown {
    color: #222 !important;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.logout, .edit-account, .admin-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #222 !important;
  font-size: 12px;
  -webkit-transition: 0.2s all ease-in-out;
  -moz-transition: 0.2s all ease-in-out;
  -o-transition: 0.2s all ease-in-out;
  -ms-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;

  &:hover {
    color: #222 !important;
  }
}

.navbar-light .navbar-toggler {
  color: #222 !important;
  border: none !important;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  padding: 0 !important;
}

.dropdown-menu {
  text-align: right;
  border: none;
  -webkit-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -moz-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -ms-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -o-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
}

.mobile-nav {
  display: none !important;
}

.desktop-nav {
  #navbarDropdown {
    padding-right: 0;
  }
}

.hamburger .line{
  width: 20px;
  height: 3px;
  border-radius: 15px;
  background-color: #222;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
  }
}

.hamburger.is-active .line:nth-child(2){
  opacity: 0;
}

.hamburger.is-active .line:nth-child(1){
  -webkit-transform: translateY(6px) rotate(45deg);
  -ms-transform: translateY(6px) rotate(45deg);
  -o-transform: translateY(6px) rotate(45deg);
  transform: translateY(6px) rotate(45deg);
}

.hamburger.is-active .line:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/*--------------------------- HOMEPAGE STYLING ---------------------------*/

/* FORM */

form label {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 11px;
}

form input, form textarea {
  font-size: 13px !important;
  color: #222 !important;
}

.homepage-form-btn {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  color: #fff !important;
  background-color: #2AF598;
  border: 1px solid #2AF598 !important;

  &:hover {
    background-color: #08AEEA;
    border: 1px solid #08AEEA !important;
  }
}

.asterisk {
  color: red;
  font-weight: 500;
}

/* --------------------------- ADMIN STYLING ---------------------------*/

/* ADMIN TABLE SEARCH */
.search-form {
  margin-bottom: 15px;
  float: right;

  .search-btn {
    margin-left: 5px;
    margin-top: 0;
  }

  input {
    border: 1px solid #E2E3E5;
  }
}

/* ADMIN TABLE */
.fixed-table-container {
  background: #fff;
  border: 1px solid #E2E3E5;
}

.bootstrap-table .table {
  border: none !important;
}

.table th, .table td {
  border-top: none !important;
}

.table-options {
  text-align: center;

  a:first-child {
    margin-right: 10px;
  }

  a {

    &:hover {
      text-decoration: none;
    }
  }
}

.th-inner {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
}

/* ADMIN EDIT */
.edit-admin {
  background: #fff;
  border-radius: 5px;
  padding: 30px;
  -webkit-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -moz-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -ms-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  -o-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
  margin-bottom: 30px;
}

/* --------------------------- RESPONSIVE STYLING ---------------------------*/

@media only screen and (min-width: 600px) {
  .column-left {
    width: 25%;
  }
  .column-right {
    width: 75%;
  }
}

@media only screen and (max-height: 749px) and (min-width: 600px) {
  margin: 100px 0;
  padding: 0 13%;
}

@media only screen and (min-width: 1200px) {
  .column-left {
    width: 50%;
  }
  .column-right {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {

  .logout, .edit-account, .admin-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    border: none;
    padding: 15px !important;
    color: #222 !important;
    font-size: 12px;
    -webkit-transition: 0.2s all ease-in-out;
    -moz-transition: 0.2s all ease-in-out;
    -o-transition: 0.2s all ease-in-out;
    -ms-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;

    &:hover {
      background: #f7f7f7;
    }
  }

  .logout {
    border-radius: 0px 0px 5px 5px
  }

  .navbar-text {
    padding: 15px !important;
    color: #222 !important;
    margin: 0 !important
  }

  .navbar-nav {
    text-align: right;
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
    -moz-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
    -ms-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
    -o-box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
    box-shadow:  0 3px 20px rgba(110, 123, 157, 0.5);
    padding: 0;
    margin-top: 25px;
    width: 100%;
  }

  #navbarDropdown {
    padding-left: 15px;
    padding-right: 15px;
  }

  .dropdown-menu {
    box-shadow:  none;
  }

  .desktop-nav {
    display: none !important;
  }

  .mobile-nav {
    display: flex !important;
  }
}
